.layout {
  padding-top: 20px;
  height: calc(100vh - 150px);
}

.button {
  margin-top: 15px;
}

.actionsWrapper {
  display: flex;
  column-gap: 5px;
  margin-bottom: 15px;
}

.form {
  padding: 0px 0 50px 0;
}

.select {
  width: 100%;
}

.offset {
  margin-bottom: 24px;
}

.wrapper {
  align-items: center;
  display: flex;
  column-gap: 10px;
  justify-content: space-between;
}

.fieldsWrapper {
  flex-shrink: 5;
  width: 100%;
  column-gap: 10px;
  display: flex;
}

.input {
  width: 100%;
}
