.steps {
  position: fixed;
  bottom: 0;
  padding: 15px 15px 10px 15px;
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  width: 581px;

  @media screen and (max-width: 600px) {
    width: fit-content;
    display: flex;
    justify-content: center;
  }
}
